/BackEnd/Proy_Netbeans/e-learning/nbproject/private/
/BackEnd/Nueva carpeta/e-learning/nbproject/private/
/BackEnd/Proy_Netbeans_8.2/e-learning/nbproject/private/
/BackEnd/Proy_Netbeans_8.2/e-learning/build/
/BackEnd/Proy_Netbeans_8.2/e-learning/dist/