*{                      
    margin: 0;
}
#contenedor{            
    width: 1200px;
    height: 1000px;
    margin: 0.5em auto;      
    padding: 0.5em;
}
#header{
    height: 20%;
    width: 80%;
    background-color: white;
    margin: 1em;
    border-radius: 1em;     
    outline: 4px ridge rgba(0, 0, 255);
    border-radius: 1rem;
    float :right;
}
#nav{
    height: 10%;
    background-color: rgba(0, 0, 255);
    margin: 1em;
    border-radius: 1em;
}
#contenido{
    height: 53%;
    margin: 1em;
}
#footer{
    height: 15%;
    background-color: rgb(115, 253, 235);
    margin: 1em;
    border-radius: 1em;
}
#section{
    height: 100%;
    width: 67%;
    background-color: rgb(128, 64, 159, 0.3);
    margin-left: 0.5em;
    border-radius: 1em;
    float :left;
}
#aside{
    height: 100%;
    width: 30%;
    background-color: rgb(128, 64, 159, 0.3);
    margin-right: 0.5em;
    border-radius: 1em;
    float :right;
}
#scroll-text {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
}
#correo{
    width: 20%;
    margin: 1.0em;
    border-radius: 1em;
    float :left;
}
#wa{
    width: 20%;
    margin: 1.0em;
    border-radius: 1em;
    float :right;
}
.articulo{
    height: 25%;
    width: 96%;
    background-color: rgb(169,169,169);
    margin: 0.8em;
    border-radius: 1em;
    float :left;
}
.imagen{
    width: 20%;
    margin: 0.5em;
    border-radius: 1em;
    float :right;
    
}
h1{
    color: rgba(0, 0, 255);
    text-align: center;
    line-height: 100px;
}
h2{
    color: white;
    text-align: center;
    line-height: 100px;
}
h3{
    color: rgba(0, 0, 255);
    text-align: center;
    line-height: 50px;
}
h4{
    color: black;
    text-align: center;
    line-height: 120px;
}
h5{
    color: rgba(0, 0, 255);
    text-align: center;
    line-height: 23px;
    margin: 0.4em;
}
h6{
    width: 80%;
    color: black;
    text-align: center;
    line-height: 50px;
    margin: 0.5em;
}
p{
    color: black;
    margin: 0.8em;
    text-align: justify;
    
}
p1{
    color: rgba(0, 0, 255);
    text-align: left;
    line-height: 40px;
    margin: 0.5em;
}
p2{
    color: rgb(8, 209, 18);
    text-align: right;
    line-height: 40px;
    margin-left: 5.8em;
}